.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin-top: 200px;
  align-items: center;
  flex-direction: column;
}

.btn-grad {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
.btn-grad {
  width: 350px;
  height: 150px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 3em;
  border: none;
  margin-top: -100px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


